*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header, footer{
    background: #222831;
    color: white;
    height: 6rem; 
}

main{
    padding: 4rem;
    min-height: 100%;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav > ul > li {
    width: 100%;
    height: 100%;
}

.active {
    background: red;
}

nav > ul > li > a {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

h1{
    font-size: 250%;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    font-weight: 500;
}

section{
    width: 60vw;
    margin: 0 auto;
}

article{
    width:100%;
    margin: 0 auto;
    padding:4rem;
}

.box{
    width: 100%;
    height: 400px;
    position: relative;
    padding: 0;
    margin-bottom: 4rem;
}

.box > a > figure{
    width: 100%;
    height: 100%;
}

.box > a > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.box > a > figure > img:hover{
    transform: none;
}

.box section{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(transparent,60%,black);
    color:white;
    border-radius:50px;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding:4rem;
    flex-shrink: 0;
}

figure{
    margin-bottom: 4rem;
}

img{
    width: 100%;
    border-radius: 5px;
    transition: 0.2s  transform;
}

img:hover{
    transform: scale(1.05);
}

p{
    margin-bottom: 4rem;
}

p:last-of-type{
    margin-bottom: 0;
}

figcaption{
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

audio{
    display: block;
    margin-top: 2rem;
}

video{
    width: 100%;
}

.top{
    width: 8rem;
    height: 8rem;
    background-color: #222831;
    border: none;
    font-size: 150%;
    font-family: 'open Sans', sans-serif;
    border-radius: 0.5rem;
    color: white;
    position: fixed;
    bottom: 10rem;
    right: 10rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}
nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
nav > ul > li{
    width: 100%;
    height: 100%;
}
li:hover{
    cursor: pointer;
}
.active{
    background: red;
}
nav > ul > li > a{
    color: red;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 6rem;
    text-decoration: none;
    color: white;
}
footer{
    height: 6rem;
    align-items: center;
    justify-content: center;
    width: 60;
}

footer > p {
    width: 60vw;
    margin: 0 auto;
    padding-left: 80px;
}

@media screen and (max-width:1000px){
    main{
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .top{
        width: 6rem;
        height: 6rem;
        bottom: 6rem;
        right: 6rem;
    }
}

@media screen and (max-width:600px) {
    body{
        font-size: 1.6rem;
    }
    main{
        width: 100vw;
        padding: 2rem;

    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 6rem;
        
    }
}